<footer>
    <div class="footer_contents">
        <div class="row">
            <div class="three columns">
            <a href="http://www.caes.ucdavis.edu"><img src="/media/caes_logo.svg" alt=""></a>
            </div>
            <div class="three columns">
                <h4>International Programs Office, CA&amp;ES</h4>
                <p>Environmental Horticulture Building
                    <br>Room 1103
                    <br>UC Davis, CA
                    <br>95616
                </p>
            </div>
            <div class="three columns">
            <p><a href="https://www.ucdavis.edu/help/privacy-accessibility">Privacy &amp; Accessibilty</a><br>
               <a mailto="ipo_info@ucdavis.edu">Contact CA&amp;ES IPO</a>
            <p>Copyright &copy; The Regents of the University of California, Davis campus. All rights reserved.</p>
            <!-- <div class="three columns">
                <h4>Social</h4>
                <ul class="no-bullet list--nopadding">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="three columns">
                <h4>Related Links</h4>
                <ul class="no-bullet list--nopadding">
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>
