<footer>
    <div class="footer_contents">
        <div class="row">
            <div class="three columns">
                <img src="/media/caes_logo.svg" alt="">
            </div>
            <div class="three columns">
                <h4>International Programs Office</h4>
                <p>Room 1103 Environmental Horticulture Building
                    <br> UC Davis, CA
                    <br> 95610
                </p>
            </div>
            <div class="three columns">
                <h4>Social</h4>
                <ul class="no-bullet list--nopadding">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="three columns">
                <h4>Related Links</h4>
                <ul class="no-bullet list--nopadding">
                    <li><a href="#">Placeholder</a></li>
                    <li><a href="#">Placeholder</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
