<header>
    <div class="header_contents">
        <div class="logo_wrapper flexitem__centeralign">
            <h1><a href="/"><img class="site_logo" src="/media/ipo_logo.svg" alt=""></a></h1>
        </div>
        <div class="nav_wrapper flexitem__centeralign">
            {% include navigation.html %}
        </div>

    </div>
    <div class="homepage__banner">
      <div class="imagewrapper homepage__banner--image">
          <a href="/countries/afghanistan"><img src="/media/afghanistan_outline.svg" alt=""></a>
      </div>
      <div class="homepage__banner--text">
      <h2>Afghanistan</h2>
      <p>Our afghani projects are helping restore balance to this country. Learn how you can help.</p>
      <p><a class="btn" href="/countries/afghanistan">Learn more</a></p>
      </div>
    </div>

    <!-- <div id="slider" class="nivoSlider">
        <img src="/media/slide1.jpg" title="#htmlcaption1" />
        <img src="/media/slide2.jpg" title="#htmlcaption2" />
        <img src="/media/slide3.jpg" title="#htmlcaption3" />
    </div>
    <div id="htmlcaption1" class="nivo-html-caption">
        <h2>Are you a beet?</h2>
        <p>Titanium white, Thalo green, Prussian blue, Van Dyke brown, Alizarin crimson, Sap green, Cad yellow, and Permanent red.</p>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption">
        <h2 class="bg-wine-grape">Red hot Chili Peppers</h2>
        <p>This is your world, whatever makes you happy you can put in it.</p>
    </div>
    <div id="htmlcaption3" class="nivo-html-caption">
        <h2 class="bg-sunny-grass">Prussian blue</h2>
        <p>
            You can create the world you want to see and be a part of
        </p>
    </div> -->
</header>
