<div class="menu-btn">
    <i class="fa fa-bars"></i>
</div>
<nav id="main-nav">
    <div class="nav-wrapper">
        <ul>
            <li>
                <a class="/about">About</a>
                <ul class="dropdown">
                    <li><a href="/about">Mission</a></li>
                    <li><a href="/about/what-we-do">What We Do</a></li>
                    <li><a href="/about/where-we-work">Where We Work</a></li>
                    <li><a href="/about/team">Team</a></li>
                    <li><a href="/about/contact">Contact &amp; Visit</a></li>
                </ul>
            </li>
        </li>
        <li>
            <a>Research</a>
            <ul class="dropdown">
                <li><a href="/research/innovationlab">Feed the Future Innovation Labs</a></li>
            </ul>
        </li>
        <li>
            <a>Training &amp; Extension</a>
            <ul class="dropdown">
              <li><a href="/training-and-extension/extension-capacities">Building Extension Capacities</a></li>
              <li><a href="/training-and-extension/nutrition-and-gender">Nutrition &amp; Gender in AES</a></li>
              <li><a href="/training-and-extension/recent-courses">Recent Trainings &amp; Workshops</a></li>
            </ul>
        </li>
        <li>
            <a>Projects</a>
            <ul class="dropdown">
              <li><a href="/countries/cambodia"> Cambodia Safe Value Chains</a></li>
              <li><a href="/projects/FFP">Guatemala Food for Progress</a></li>
              <li><a href="/projects/ingenaes">INGENAES</a></li>
              <li><a href="/projects/RING">Resiliency in Northern Ghana (RING)</a></li>
              <li><a href="/projects/SIILRODS">SIIL RODS</a></li>
            </ul>
        </li>
        <li>
            <a>Education</a>
            <ul class="dropdown">
              <li><a href="/scholars-and-students">Fellowships</a></li>
              <li><a href="/scholars-and-students/RIFA/">UC RIFA</a></li>
            </ul>
        </li>
        <li>
            <a>Resources</a>
            <ul class="dropdown">
              <li><a href="/training-and-extension/extension-ict">Methodology and Knowledge Banks</a></li>
              <li><a href="/research/partners">IPO Partners</a></li>
              
            </ul>
        </li>
    </ul>
</div>
</nav>
<div class="slideout-wrapper">
<nav id="slideout-nav" class="pushy pushy-left">
    <ul>
        <li class="pushy-submenu">
            <a>About</a>
            <ul>
            <li><a href="/about">Mission</a></li>
            <li><a href="/about/what-we-do">What We Do</a></li>
            <li><a href="/about/where-we-work">Where We Work</a></li>
            <li><a href="/about/team">Team</a></li>
            <li><a href="/about/contact">Contact &amp; Visit</a></li>
        </ul>
    </li>
    <li class="pushy-submenu">
        <a>Research</a>
        <ul>
          <li><a href="/research/innovationlab">Feed the Future Innovation Labs</a></li>
        </ul>
    </li>
    <li class="pushy-submenu">
        <a>Training &amp; Extension</a>
        <ul>
          <li><a href="/training-and-extension/extension-capacities">Building Extension Capacities</a></li>
          <li><a href="/training-and-extension/nutrition-and-gender">Nutrition &amp; Gender in AES</a></li>
          <li><a href="/training-and-extension/recent-courses">Trainings &amp; Workshops</a></li>
        </ul>
    </li>

    <li class="pushy-submenu">
        <a>Projects</a>
        <ul>
          <li><a href="/countries/cambodia"> Cambodia Safe Value Chains</a></li>
          <li><a href="/projects/FFP">Guatemala Food for Progress</a></li>
          <li><a href="/projects/ingenaes">INGENAES</a></li>
          <li><a href="/projects/RING">Resiliency in Northern Ghana (RING)</a></li>
          <li><a href="/projects/SIILRODS">SIIL RODS</a></li>
        </ul>
    </li>

    <li class="pushy-submenu">
        <a>Education</a>
        <ul>
          <li><a href="/scholars-and-students">Fellowships</a></li>
          <li><a href="/scholars-and-students/RIFA/">UC RIFA</a></li>
        </ul>

    <li class="pushy-submenu">
        <a>Resources</a>
        <ul>
           <li><a href="/training-and-extension/extension-ict">Methodology and Knowledge Banks</a></li>
          <li><a href="/research/partners">IPO Partners</a></li>
        </ul>
    </li>


    </li>
</ul>
</nav>
</div>
