<div class="menu-btn">
    <i class="fa fa-bars"></i>
</div>
<nav id="main-nav">
    <div class="nav-wrapper">
        <ul>
            <li>
                <a href="/about">About</a>
                <ul class="dropdown">
                    <li><a href="/components#nivo">Mission</a></li>
                    <li><a href="/components#bgvideo">Team</a></li>
                    <li><a href="/components#icons">Where we work</a></li>
                    <li><a href="/components#icons">Impact</a></li>
                    <li><a href="/components#icons">Contact</a></li>
                    <li><a href="/components#icons">Visit</a></li>
                </li>
            </ul>
        </li>
        <li>
            <a href="/research">Research</a>
            <ul class="dropdown">
                <li><a href="/research/">Innovation Labs</a></li>
                    <li><a href="/research/">CAS</a></li>
                    <li><a href="/research/">AIP</a></li>
            </ul>
        </li>
        <li>
            <a href="/education">Education</a>
            <ul class="dropdown">
                <li><a href="/education">Scholars and Students</a>
                <ul class="subdropdown">
                        <li><a href="components#nivo">RIFA</a></li>
                        <li><a href="components#bgvideo">REAP</a></li>
                        <li><a href="components#icons">UID</a></li>
                    </ul>
                </li>
                <li><a href="/education">Institutional building</a>
                <ul class="subdropdown">
                        <li><a href="components#nivo">CAS</a></li>
                        <li><a href="components#bgvideo">Haiti</a></li>
                        <li><a href="components#icons">China</a></li>
                        <li><a href="components#icons">Vietnam</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="/training">Training and Extension</a>
            <ul class="dropdown">
                <li><a href="/education">Short term training</a>
                <ul class="subdropdown">
                        <li><a href="components#nivo">Cochran</a></li>
                        <li><a href="components#bgvideo">Borlaug</a></li>
                    </ul>
                </li>
                <li><a href="/education">Building extension capacities</a>
                <ul class="subdropdown">
                        <li><a href="components#nivo">AAEP</a></li>
                        <li><a href="components#bgvideo">INGENAES</a></li>
                        <li><a href="components#bgvideo">Guatemala</a></li>
                        <li><a href="components#bgvideo">MEAS</a></li>
                    </ul>
                </li>
                <li><a href="/education">Extension methodology and ICT work</a>
                <ul class="subdropdown">
                        <li><a href="components#nivo">e-China Apple</a></li>
                        <li><a href="components#bgvideo">e-Pak Ag</a></li>
                        <li><a href="components#bgvideo">e-Afghan Ag</a></li>
                        <li><a href="components#bgvideo">AgExtOnline</a></li>
                    </ul>
                </li>
            </ul>

        </li>
    </ul>
</div>
</nav>
<div class="slideout-wrapper">
<nav id="slideout-nav" class="pushy pushy-left">
    <ul>
        <li class="pushy-submenu">
            <a href="#">About</a>
            <ul>
                <li class="pushy-link"><a href="components#nivo">Slider</a></li>
                <li class="pushy-link"><a href="components#bgvideo">Video</a></li>
                <li class="pushy-subsubmenu"><a href="#">Icons</a>
                <ul>
                    <li class="pushy-link"><a href="components#nivo">Slider</a></li>
                    <li class="pushy-link"><a href="components#bgvideo">Video</a></li>
                    <li class="pushy-link"><a href="components#icons">Icons</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="pushy-link"><a href="/support">Support</a></li>
    <li class="pushy-submenu">
        <a href="#">News</a>
    </li>
    <li class="pushy-link">
        <a href="/events">Events</a>
    </li>
</ul>
</nav>
</div>