// baseline typography
html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    line-height: 1.5;
    @include breakpoint(tablet) {
        font-size: 8px;
    }
    @include breakpoint(mobile) {
        font-size: 7px;
    }
}

a {
    text-decoration: none;
    color: $a-link;
    &:hover {
        color: $a-hover;
    }
}

ul,
ol {
    footer & {
        margin-top:0px;
        li {
            a {
                color:$quinary-font;
                font-size:1.4rem;
                font-family: $sans-serif;
                &:hover {
                    color:$primary-color;
                }
            }
        }
    }
    &.two_col_list {
        li {
            width:49%;
            display:inline-block;
            vertical-align: top;
            @include breakpoint(mobileonly) {
                width:100%;
                display: block;
            }
        }
    }
    &.list--nopadding {
        padding-left: 0px;
    }
    &.countrylist {
      li {
        color:$tertiary-font;
        a {
          color:$tertiary-font;
          &:hover {
            color:$primary-color;
          }
        }
      }
    }
    li {
        font-size: 1.6rem;
        line-height: 1.8;
        letter-spacing: .025rem;
        font-family: $sans-serif;
        color: $primary-font;
        a {
            // font-size1.5rem;
        }
    }
    &.no-bullet li {
        list-style-type: none;
    }
}

ul.tabs {
    border-bottom:1px solid $borders;
    list-style: none;
    margin-bottom:20px;
    display:block;
    li {
        display:inline-block;
        a {
            color:pink;
            padding:10px 15px;
            display:block;
            margin-bottom:-1px;
            border:1px solid transparent;
        }
        &.active a {
            color: green;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }
    }
}

ul.event-info {
    li {
        b {
            color: $unitrans-red;
        }
    }
}

p {
    line-height: 1.625;
    letter-spacing: .025rem;
    font-size: 1.6rem;
    font-family: $sans-serif;
    color: $primary-font;
    aside & {
        font-size:1.4rem;
    }
    footer & {
        margin-top:0px;
        color: $quinary-font;
        font-size:1.4rem;
    }
    &.lead {
        font-size:1.8rem;
        color:$tertiary-font;
        margin-top:0px;
        line-height:1.5;
    }
    &.page_description {
        border-bottom: 1px solid $borders;
        margin-bottom: 4%;
        padding-bottom: 2%;
    }
    .banner & {
        color: #fff;
    }
    &.image__caption {
        font-size: 1.4rem;
        line-height: 1.4;
        color: $tertiary-font;
        margin-bottom: 10px;
        margin-top:0px;
        font-style: italic;
        text-align:center;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $secondary-font;
    font-family: $sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-family: $sans-serif;
    font-weight: 400;
}

h1,
.h1 {
    font-size: 3.4rem;
    margin-bottom: 5px;
    font-weight: 200;
    color: $primary-font;
}

h2,
.h2 {
    font-size: 2.2rem;
    font-weight: 400;
    &.team--divider {
      font-size:2.2rem;
      text-transform:uppercase;
      margin-top:80px;
      font-weight:600;
    }
}

h3,
.h3 {
  .homepageprojects & {
    margin-left:10%;
    font-size:1.6rem;
    text-transform: uppercase;
    color:#fff;
    font-weight:600;
  }
    font-size: 2rem;
    color: $tertiary-font;
    font-weight:200;
    & + p {
        margin-top:-5px;
    }
    aside & {
      color:$secondary-font;
    }
}

h4,
.h4 {
    font-size: 1.4rem;
    footer & {
        color:$quarternary-font;
    }
}

h5 {
    &.feed-date {
        font-size: 1.5rem;
        // text-transform: uppercase;
        color: $tertiary-font;
        font-family: $sans-serif;
        margin-top: 0px;
        margin-bottom: 8px;
    }
}

blockquote {
    background-color: $bg-color;
    padding: 10px 12px;
    border-left: 3px solid $tertiary-font;
    font-size: 1.5rem;
    line-height: 1.7;
    color: $secondary-font;
    font-weight: 400;
    font-family: $sans-serif;
    margin-right: 0px;
    margin-left: 60px;
}
