---
layout: page
title: Team
description: Profiles of the staff, faculty, and administration of the CAES International Programs Office
breadcrumb: Team
search: true
---
<article class="article--fullwidth article__team">
    <h1>{{ page.title }}</h1>
   <p class="lead">{{ page.description }}</p> 
   <h2 class="team--divider"></h2> {% for post in site.tags.Dean %}
    <a href="{{ post.url }}">
        <div class="team__card">
            <img class="image__team" src="{{ post.image }}.jpg" alt="{{ post.image-caption }}" srcset="{{ post.image }}.jpg 1x, {{ post.image }}@2x.jpg 2x">
            <h2>{{ post.contact-name }}</h2>
            <p>{{ post.contact-title }}</p>
        </div>
    </a>
    {% endfor %}
    
    <h2 class="team--divider">Administrative Staff</h2> {% for post in site.tags.Administration %}
    <a href="{{ post.url }}">
        <div class="team__card">
            <img class="image__team" src="{{ post.image }}.jpg" alt="{{ post.image-caption }}" srcset="{{ post.image }}.jpg 1x, {{ post.image }}@2x.jpg 2x">
            <h2>{{ post.contact-name }}</h2>
            <p>{{ post.contact-title }}</p>
        </div>
    </a>
    {% endfor %}
    <h2 class="team--divider">Project Staff</h2> {% for post in site.tags.Project %}
    <a href="{{ post.url }}">
        <div class="team__card">
            <img class="image__team" src="{{ post.image }}.jpg" alt="{{ post.image-caption }}" srcset="{{ post.image }}.jpg 1x, {{ post.image }}@2x.jpg 2x">
            <h2>{{ post.contact-name }}</h2>
            <p>{{ post.contact-title }}</p>
        </div>
    </a>
    {% endfor %}
    <h2 class="team--divider">Faculty Managing IP Related Projects</h2> {% for post in site.tags.Faculty %}
    <a href="{{ post.url }}">
        <div class="team__card">
            <img class="image__team" src="{{ post.image }}.jpg" alt="{{ post.image-caption }}" srcset="{{ post.image }}.jpg 1x, {{ post.image }}@2x.jpg 2x">
            <h2>{{ post.contact-name }}</h2>
            <p>{{ post.contact-title }}</p>
        </div>
    </a>
    {% endfor %}
</article>
