---
layout: default
---
{% include header.html %}
{% if page.image-banner %}
<div class="banner banner--{{ page.image-banner }}">


</div>
{% endif %}
<div class="breadsearch">
    <div class="alignitems--center breadwrapper">
        <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="/about/where-we-work.html">Countries</a></li>
            <li class="active"><a href="{{ page.url }}">{{ page.title }}</a></li>
        </ol>
    </div>
    <div class="alignitems--end searchwrapper">
        <form class="small_search" action="/search" method="GET">
            <input type="text" name="q" autocomplete="off" required>
        </form>
    </div>
</div>
<div class="main">
    <div class="main_contents">
        <article>
            <h1>{{ page.title }}</h1>
            <p class="lead">{{ page.description }}</p>
            <p>{{ content }}</p>

        </article>
        <aside>
          {% if page.contact %}
          <h3>Contact</h3>
          <p>{{ page.contact }}</p>
          {% endif %}
  {% include countrylist.html %}
        </aside>
    </div>
</div>
