---
layout: default
---
{% include header.html %}
<div class="breadsearch">
    <div class="alignitems--center breadwrapper">
        <ol class="breadcrumb">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="/about/team">Team</a></li>
            <li class="active"><a href="{{ page.url }}">{{ page.title }}</a></li>
        </ol>
    </div>
    <div class="alignitems--cend searchwrapper">
        <form class="small_search" action="/search" method="GET">
            <input type="text" name="q" autocomplete="off" required>
        </form>
    </div>
</div>
<div class="main">
    <div class="main_contents">
        <article>
            <h1>{{ page.contact-name }}</h1>
            <p>{{ page.contact-title }}
            <br/><a href="mailto:{{ page.email }}">{{ page.email }}</a>
            <br>{{ page.phone }}</p>

            <p>{{ content }}</p>
        </article>
        <aside class="aside--project">
             {% if page.image %}
            <div class="imagewrapper">
                <a href="#" data-featherlight="#mylightbox">
                    <img src="{{ page.image }}.jpg" alt="{{ page.image-caption }}" srcset="{{ page.image }}.jpg 1x, {{ page.image }}@2x.jpg 2x">
                </a>
                <div id="mylightbox"><img src="{{ page.image }}@2x.jpg" alt="{{ page.image-caption }}">

                </div>
            </div>
            {% endif %}
        </aside>
    </div>
</div>
